[livingroom]
device_mac =
topic = sensor/livingroom
average = 3
retain=1
timeout = 10
device =  MJ_HT_V1
device_class =  temperature:humidity:battery


[flywithu]
device_mac = 
topic = sensor/flywithu
average = 3
retain=1
timeout = 10
device = LYWSD03MMC
device_class = temperature:humidity:battery


